<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="LoadAssembly" type="System.Configuration.DictionarySectionHandler" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IRAPContext" connectionString="Data Source=192.168.57.14;Initial Catalog=IRAP;UID=sa;PWD=irap!209420;Pooling=true;Max Pool Size = 2; Min Pool Size=0" providerName="System.Data.SqlClient" />
    <add name="IRAPMDMContext" connectionString="Data Source=192.168.57.14;Initial Catalog=IRAPMDM;UID=sa;PWD=irap!209420;Pooling=true;Max Pool Size = 2; Min Pool Size=0" providerName="System.Data.SqlClient" />
    <add name="IRAPSqlDBContext" connectionString="Data Source=192.168.57.14;Initial Catalog=yunhuatech;UID=sa;PWD=irap!209420" providerName="System.Data.SqlClient" />
    <add name="IRAPMyDBContext" connectionString="Server=192.168.57.216;port=3306;Database=bcdpa; User=irap;Password=irap" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SeqServerAddr" value="192.168.57.217" />
    <!-- DBType: 1-SQLServer 2-Oracle 3-MySQL -->
    <add key="DBType" value="1" />
  </appSettings>
  <!--以下是创建数据库上下文时加载的程序集实体映射-->
  <LoadAssembly>
    <!--<add key="TestConsole" value="MES系统程序集" /> -->
    <add key="IRAPDCS" value="DCS系统程序集" /> 
  </LoadAssembly>
  <nlog autoReload="true" throwExceptions="true">
    <targets>
      <target name="file" type="File" encoding="gbk" layout="${longdate}=&gt;${logger}|${message}" fileName="${basedir}/log/IRAPAdmin_${shortdate}.log" />
      <target name="console" type="ColoredConsole" encoding="gbk" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" useDefaultRowHighlightingRules="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>